#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Apk files
#
arm64/FaceLock/*.apk
arm64/GmsCoreSetupPrebuilt/*.apk
arm64/GoogleBackupTransport/*.apk
arm64/GoogleContactsSyncAdapter/*.apk
arm64/GoogleExtServices/*.apk
arm64/GoogleExtShared/*.apk
arm64/GoogleServicesFramework/*.apk
arm64/Phonesky/*.apk
arm64/PrebuiltGmsCore/*.apk
